<div id="shop-sidebar" class="col-xs-12 col-lg-2 col-lg-pull-10 shop-sidebar widget-area sidebar" role="complementary">
  <div data-sidebar="shop-sidebar">
    <aside id="woocommerce_product_categories-4" class="widget woocommerce widget_product_categories">
      <h2 class="widget-title title-font-em">Danh mục</h2>
      <ul class="product-categories">
        <% Field.all.each do |field| %>
          <li class="cat-item cat-item-86">
            <a href="<%= medias_path(media_type: params[:media_type], field_id: field.id) %>"><%= field.name %></a>
            <span class="count"></span></li>
        <% end %>
      </ul>
    </aside>
  </div>
</div>
