<%= render "layouts/breadcrumbs" %>
<div class="site-content_wrap container">
  <div class="row">
    <div id="primary" class="col-xs-12 col-lg-10 col-lg-push-2">
      <main id="main" class="site-main" role="main">
        <div id="woo-primary" class="content-area willard">
          <div id="woo-main" class="site-main" role="main">
            <div id="media-table">
              <% if params[:media_type] == "0" %>
                <%= render partial: "doccument", object: @medias %>
              <% else %>
                <%= render partial: "video", object: @medias %>
              <% end %>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%= render "left_navigator" %>
  </div>
</div>
