<div class="site-content_wrap container">
  <div class="row">
    <div id="primary" class="col-xs-12 col-lg-9 col-lg-push-3">
      <main id="main" class="site-main" role="main">
        <div id="woo-primary" class="content-area willard">
          <div id="woo-main" class="site-main" role="main">
            <div id="media-table">
              <% if params[:media_type] == "0" %>
                <%= render "doccument" %>
              <% else %>
                <%= render "video" %>
              <% end %>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%= render "layouts/left_navigator" %>
  </div>
</div>
