/* line 1, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 17, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssorb051 .i {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* line 24, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssorb051 .i .b {
  fill: #fff;
  fill-opacity: 0.5;
}

/* line 29, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssorb051 .i:hover .b {
  fill-opacity: .7;
}

/* line 33, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssorb051 .iav .b {
  fill-opacity: 1;
}

/* line 37, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssorb051 .i.idn {
  opacity: .3;
}

/* line 41, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 47, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

/* line 54, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051:hover {
  opacity: .8;
}

/* line 58, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051.jssora051dn {
  opacity: .5;
}

/* line 62, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none;
}

/* line 67, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
#jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 980px;
  height: 250px;
  overflow: hidden;
  visibility: hidden;
}

/* line 78, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051 {
  width: 65px;
  height: 65px;
  top: 0px;
}

/* line 84, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051-left {
  left: 35px;
}

/* line 87, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssora051-right {
  right: 35px;
}

/* line 91, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.slides {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 980px;
  height: 250px;
  overflow: hidden;
}

/* line 101, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.jssorb051 {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

/* line 107, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
.viewBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 115, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
#tm_builder_outer_content img {
  max-width: auto !important;
}

/* line 119, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/custom-jssor.scss */
#btn-shop-now {
  position: absolute;
  top: 0;
  left: 14px;
}
