/* line 3, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/product-order.scss */
#product-order-modal .product-info h4 {
  margin-top: 10px;
}
/* line 8, /home/likewise-open/FRAMGIA/lai.huu.toan/workspace/medical_machine/app/assets/stylesheets/user/custom/product-order.scss */
#product-order-modal .user-info h4 {
  margin-top: 20px;
  font-size: 13px;
  color: red;
}
