/* line 2, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dddddd;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
/* line 13, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar tr {
  border-collapse: collapse;
}
/* line 17, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid #dddddd;
  border-collapse: collapse;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 0px none #333333;
  box-sizing: border-box;
  text-align: left;
}
/* line 28, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid #ddd;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #dddddd;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #dddddd;
  border-left-style: solid;
  border-left-width: 1px;
}
/* line 48, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .day {
  height: 80px;
}
/* line 60, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .today {
  background: #FFFFC0;
}
/* line 69, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .prev-month {
  background: #DDD;
}
/* line 72, /home/likewise-open/FRAMGIA/lai.huu.toan/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/simple_calendar-2.2.7/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .next-month {
  background: #DDD;
}
