html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a { text-decoration: none; }

/**
 * Hidden fallback
 */


/**
 * Styling navigation
 */

#sidebar {
  ul {
    margin-left: 0;
  }
  .nav a, .nav label {
    display: block;
    padding: .85rem;
    padding-left: 0px;
    color: #222222;
    background-color: #ffffff;
    box-shadow: inset 0 -1px #ffd71a;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }

  .nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
    color: #ffd71a;
    background: #fff;
    // color: #222222;
    // background: #ffd71a;
  }

  .nav label { cursor: pointer; }

  /**
   * Styling first level lists items
   */

  .group-list a, .group-list label {
    padding-left: 1rem;
    background: #fff;
    box-shadow: inset 0 -1px #ffd71a;
  }

  .group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #fff; }

  /**
   * Styling second level list items
   */

  .sub-group-list a, .sub-group-list label {
    padding-left: 2rem;
    background: #fff;
    box-shadow: inset 0 -1px #ffd71a;
  }

  .sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #fff; }

  /**
   * Styling third level list items
   */

  .sub-sub-group-list a, .sub-sub-group-list label {
    padding-left: 6rem;
    background: #454545;
    box-shadow: inset 0 -1px #575757;
  }

  .sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }

  /**
   * Hide nested lists
   */

  .group-list, .sub-group-list, .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
  }

  .nav__list input[type=checkbox]:checked + label + ul {
    /* reset the height when checkbox is checked */
    max-height: 100%;
  }

  /**
   * Rotating chevron icon
   */

  label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
  }

  .nav__list input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
