<div class="container">
  <div class=" row tm_pb_row tm_pb_row_3">
    <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_5 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tm_pb_vertical_alligment_start">
      <hr class="tm_pb_module tm_pb_space tm_pb_divider_2">
      <div class="tm_pb_posts tm_pb_posts_0 tm_pb_module" data-atts="{&quot;terms_type&quot;:&quot;categories&quot;,&quot;categories&quot;:&quot;94,93,95,1&quot;,&quot;post_tag&quot;:&quot;&quot;,&quot;post_format&quot;:&quot;&quot;,&quot;post_id&quot;:&quot;&quot;,&quot;posts_per_page&quot;:&quot;4&quot;,&quot;post_offset&quot;:&quot;0&quot;,&quot;super_title&quot;:&quot;&quot;,&quot;title&quot;:&quot;from the blog&quot;,&quot;subtitle&quot;:&quot;&quot;,&quot;title_delimiter&quot;:&quot;off&quot;,&quot;more&quot;:&quot;off&quot;,&quot;more_text&quot;:&quot;dasfdasfdsfsf xdsdsf&quot;,&quot;ajax_more&quot;:&quot;on&quot;,&quot;more_url&quot;:&quot;&quot;,&quot;meta_data&quot;:&quot;on&quot;,&quot;post_layout&quot;:&quot;layout-1&quot;,&quot;excerpt&quot;:&quot;0&quot;,&quot;columns&quot;:&quot;4&quot;,&quot;columns_laptop&quot;:&quot;4&quot;,&quot;columns_tablet&quot;:&quot;2&quot;,&quot;columns_phone&quot;:&quot;1&quot;,&quot;image_size&quot;:&quot;post-thumbnail&quot;,&quot;use_space&quot;:&quot;on&quot;,&quot;use_rows_space&quot;:&quot;on&quot;,&quot;button_icon&quot;:&quot;f18e&quot;,&quot;custom_button&quot;:&quot;off&quot;}" data-page="1" data-pages="4">
        <div class="tm-posts_title_group">
          <h5 class="tm-posts_title">from the blog</h5>
        </div>
        <div class="tm-posts_listing">
          <div class="row tm-posts_layout-1">
            <div class="tm_pb_column col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div class="tm-posts_item">
                <div class="tm-posts_item_content_wrap">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/how-to-seal-damaged-drywall/" class="tm-posts_img"><img src="./Willard – Enhanced E-store_files/shutterstock_78769561-420x338.jpg" alt="How To Seal Damaged Drywall"></a>
                  <h5 class="tm-posts_item_title"><a href="https://ld-wp.template-help.com/woocommerce_58679/how-to-seal-damaged-drywall/" title="How To Seal Damaged Drywall" rel="bookmark">How To Seal Damaged Drywall</a></h5>
                  <div class="tm-posts_item_meta entry-meta">
                    <a href="https://ld-wp.template-help.com/woocommerce_58679/2017/02/01/" class="post__date">
                    <time datetime="2017-02-01T17:07:27+00:00" title="2017-02-01T17:07:27+00:00">February 1, 2017</time>
                    </a><span class="post__comments"><a href="https://ld-wp.template-help.com/woocommerce_58679/how-to-seal-damaged-drywall/#respond" class="post__comments-link"><span class="linearicon linearicon-bubble"></span> <span class="text">0</span></a>
                    </span>
                  </div>
                </div>
                <div class="posts_item_content_footer">
                </div>
              </div>
            </div>
            <div class="tm_pb_column col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div class="tm-posts_item">
                <div class="tm-posts_item_content_wrap">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/replacing-the-doorbell-yourself-tips/" class="tm-posts_img"><img src="./Willard – Enhanced E-store_files/Depositphotos_23776803_original_resize-420x338.jpg" alt="Replacing the Doorbell Yourself Tips"></a>
                  <h5 class="tm-posts_item_title"><a href="https://ld-wp.template-help.com/woocommerce_58679/replacing-the-doorbell-yourself-tips/" title="Replacing the Doorbell Yourself Tips" rel="bookmark">Replacing the Doorbell Yourself Tips</a></h5>
                  <div class="tm-posts_item_meta entry-meta">
                    <a href="https://ld-wp.template-help.com/woocommerce_58679/2017/01/31/" class="post__date">
                    <time datetime="2017-01-31T18:24:51+00:00" title="2017-01-31T18:24:51+00:00">January 31, 2017</time>
                    </a><span class="post__comments"><a href="https://ld-wp.template-help.com/woocommerce_58679/replacing-the-doorbell-yourself-tips/#respond" class="post__comments-link"><span class="linearicon linearicon-bubble"></span> <span class="text">0</span></a>
                    </span>
                  </div>
                </div>
                <div class="posts_item_content_footer">
                </div>
              </div>
            </div>
            <div class="tm_pb_column col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div class="tm-posts_item">
                <div class="tm-posts_item_content_wrap">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/garden-supplies-buying-guide/" class="tm-posts_img"><img src="./Willard – Enhanced E-store_files/Depositphotos_17358069_original_resize-420x338.jpg" alt="Garden Supplies Buying Guide"></a>
                  <h5 class="tm-posts_item_title"><a href="https://ld-wp.template-help.com/woocommerce_58679/garden-supplies-buying-guide/" title="Garden Supplies Buying Guide" rel="bookmark">Garden Supplies Buying Guide</a></h5>
                  <div class="tm-posts_item_meta entry-meta">
                    <a href="https://ld-wp.template-help.com/woocommerce_58679/2017/01/31/" class="post__date">
                    <time datetime="2017-01-31T17:55:55+00:00" title="2017-01-31T17:55:55+00:00">January 31, 2017</time>
                    </a><span class="post__comments"><a href="https://ld-wp.template-help.com/woocommerce_58679/garden-supplies-buying-guide/#respond" class="post__comments-link"><span class="linearicon linearicon-bubble"></span> <span class="text">0</span></a>
                    </span>
                  </div>
                </div>
                <div class="posts_item_content_footer">
                </div>
              </div>
            </div>
            <div class="tm_pb_column col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div class="tm-posts_item">
                <div class="tm-posts_item_content_wrap">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/guide-to-buying-the-tile-saw/" class="tm-posts_img"><img src="./Willard – Enhanced E-store_files/shutterstock_184615700-420x338.jpg" alt="Guide to Buying the Tile Saw"></a>
                  <h5 class="tm-posts_item_title"><a href="https://ld-wp.template-help.com/woocommerce_58679/guide-to-buying-the-tile-saw/" title="Guide to Buying the Tile Saw" rel="bookmark">Guide to Buying the Tile Saw</a></h5>
                  <div class="tm-posts_item_meta entry-meta">
                    <a href="https://ld-wp.template-help.com/woocommerce_58679/2017/01/31/" class="post__date">
                    <time datetime="2017-01-31T17:53:20+00:00" title="2017-01-31T17:53:20+00:00">January 31, 2017</time>
                    </a><span class="post__comments"><a href="https://ld-wp.template-help.com/woocommerce_58679/guide-to-buying-the-tile-saw/#comments" class="post__comments-link"><span class="linearicon linearicon-bubble"></span> <span class="text">3</span></a>
                    </span>
                  </div>
                </div>
                <div class="posts_item_content_footer">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .tm_pb_posts -->
    </div>
    <!-- .tm_pb_column -->
  </div>
  <!-- .tm_pb_row -->
</div>