<div id="" class="tm_pb_icon_box_module__wrapper  tm_pb_icon_box_module_0 tm_pb_bg_layout_light">
  <div class="row tm_pb_icon_box_module__boxes">
    <div class="tm_pb_column col-xl-2 col-lg-4 col-md-6 col-sm-12">
      <div class="tm_pb_icon_box_module__item__wrapper">
        <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/" title="Power tool" class="tm_pb_icon_box_module__item  tm_pb_icon_box_module__item_0">
        <span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm_pb_icon_align_center" style="color: #222222;" data-icon=""></span> <span class="tm_pb_icon_box_module__item__title">Power tool</span>
        <span class="tm_pb_icon_box_module__item__description"></span> </a>
      </div>
    </div>
    <div class="tm_pb_column col-xl-2 col-lg-4 col-md-6 col-sm-12">
      <div class="tm_pb_icon_box_module__item__wrapper">
        <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/" title="Hand tools" class="tm_pb_icon_box_module__item  tm_pb_icon_box_module__item_1">
        <span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm_pb_icon_align_center" style="color: #222222;" data-icon=""></span> <span class="tm_pb_icon_box_module__item__title">Hand tools</span>
        <span class="tm_pb_icon_box_module__item__description"></span> </a>
      </div>
    </div>
    <div class="tm_pb_column col-xl-2 col-lg-4 col-md-6 col-sm-12">
      <div class="tm_pb_icon_box_module__item__wrapper">
        <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/" title="Plumbing tools" class="tm_pb_icon_box_module__item  tm_pb_icon_box_module__item_2">
        <span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm_pb_icon_align_center" style="color: #222222;" data-icon=""></span> <span class="tm_pb_icon_box_module__item__title">Plumbing tools</span>
        <span class="tm_pb_icon_box_module__item__description"></span> </a>
      </div>
    </div>
    <div class="tm_pb_column col-xl-2 col-lg-4 col-md-6 col-sm-12">
      <div class="tm_pb_icon_box_module__item__wrapper">
        <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/" title="Carpenter tools" class="tm_pb_icon_box_module__item  tm_pb_icon_box_module__item_3">
        <span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm_pb_icon_align_center" style="color: #222222;" data-icon=""></span> <span class="tm_pb_icon_box_module__item__title">Carpenter tools</span>
        <span class="tm_pb_icon_box_module__item__description"></span> </a>
      </div>
    </div>
    <div class="tm_pb_column col-xl-2 col-lg-4 col-md-6 col-sm-12">
      <div class="tm_pb_icon_box_module__item__wrapper">
        <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/" title="Paint tools" class="tm_pb_icon_box_module__item  tm_pb_icon_box_module__item_4">
        <span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm_pb_icon_align_center" style="color: #222222;" data-icon=""></span> <span class="tm_pb_icon_box_module__item__title">Paint tools</span>
        <span class="tm_pb_icon_box_module__item__description"></span> </a>
      </div>
    </div>
    <div class="tm_pb_column col-xl-2 col-lg-4 col-md-6 col-sm-12">
      <div class="tm_pb_icon_box_module__item__wrapper">
        <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/" title="Measuring tools" class="tm_pb_icon_box_module__item  tm_pb_icon_box_module__item_5">
        <span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm_pb_icon_align_center" style="color: #222222;" data-icon=""></span> <span class="tm_pb_icon_box_module__item__title">Measuring tools</span>
        <span class="tm_pb_icon_box_module__item__description"></span> </a>
      </div>
    </div>
  </div>
</div>