<aside id="__tm_banners_grid_widget-16" class="widget woocommerce __tm_banners_grid_widget">
  <div class="row">
    <% @catalogs.each do |catalog| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="tm_banners_grid_widget_banner tm_banners_grid_widget_banner_height_1">
          <%= link_to "#{image_tag catalog.url, title: catalog.title, alt: catalog.alt}".html_safe, catalog.link, class: "tm_banners_grid_widget_banner_link"%>
        </div>
      </div>
    <% end %>
  </div>
</aside>
<!-- 4 block left -->
<div class="top-panel__left" id="support-block">
  <div class="row-fluid">
    <div class="span16 privacy">
      <div class="row-fluid ">
        <div class="span4 chinhsach">
          <div class="support">
            <h3>Hỗ trợ 24/7</h3>
            <p>Hỗ trợ, tư vấn miễn phí qua ĐT hoặc Chat</p>
          </div>
        </div>
        <div class="span4 chinhsach">
          <div class="instock">
            <h3>Hàng có sẵn</h3>
            <p>Hàng luôn có sẵn với số lượng lớn, giá tốt nhất</p>
          </div>
        </div>
        <div class="span4 chinhsach">
          <div class="shipping">
            <h3>Vận chuyển</h3>
            <p>Miễn phí giao hàng tại Hà Nội và Tp. HCM</p>
          </div>
        </div>
        <div class="span4 chinhsach">
          <div class="warranty">
            <h3>Bảo hành chính hãng</h3>
            <p>Phân phối và bảo hành sản phẩm chính hãng</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
