<aside id="__tm_banners_grid_widget-16" class="widget woocommerce __tm_banners_grid_widget">
  <div class="row">
    <% @catalogs.each do |catalog| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="tm_banners_grid_widget_banner tm_banners_grid_widget_banner_height_1">
          <a class="tm_banners_grid_widget_banner_link" href="#">
            <%= image_tag catalog.url%>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</aside>
