<section id="after-content-full-width-area" class="after-content-full-width-area widget-area">
  <aside id="tm_willard_widget_subscribe_follow-2" class="widget widget-subscribe">
    <div class="subscribe-follow__wrap">
      <div class="subscribe-block">
        <h5 class="widget-title">Tin tức</h5>
        <div class="subscribe-block__message">Đăng kí nhận thông tin sản phẩm, khuyến mại</div>
        <%= form_for(@subcriber, html: {class: "subscribe-block__form"}) do |f| %>
          <input type="hidden" name="nonce" value="1c91b03c75">
          <div class="subscribe-block__input-group">
            <div class="subscribe-block__input-wrap">
              <i class="linearicon linearicon-envelope-open"></i>
            <input class="subscribe-block__input" type="email" name="email" value="" placeholder="Email của bạn">
            </div>
            <%= f.submit "Theo dõi", class: "subscribe-block__submit btn btn-primary" %>
          </div>
          <div class="subscribe-block__messages">
            <div class="subscribe-block__success hidden">Bạn đã đăng kí theo dõi chúng tôi!</div>
            <div class="subscribe-block__error hidden"></div>
          </div>
        <% end %>
      </div>
    </div>
  </aside>
</section>
