<aside id="__tm_products_carousel_widget-6" class="widget tm_products_carousel_widget">
  <h3 class="widget-title">Weekly featured products</h3>
  <div class="woocommerce swiper-container tm-products-carousel-widget-container swiper-container-horizontal" id="swiper-carousel-59dc8509e1f90" data-uniq-id="swiper-carousel-59dc8509e1f90" data-slides-per-view="4" data-slides-per-group="1" data-slides-per-column="1" data-space-between-slides="30" data-duration-speed="500" data-swiper-loop="false" data-free-mode="false" data-grab-cursor="true" data-mouse-wheel="false" data-custom-breakpoints="{&quot;1199&quot;:{&quot;slidesPerView&quot;:3,&quot;spaceBetween&quot;:30},&quot;767&quot;:{&quot;slidesPerView&quot;:2,&quot;spaceBetween&quot;:30},&quot;479&quot;:{&quot;slidesPerView&quot;:1,&quot;spaceBetween&quot;:30}}" style="cursor: -webkit-grab;">
    <div class="swiper-wrapper tm-products-carousel-widget-wrapper products">
      <div class="post-264 product type-product status-publish has-post-thumbnail hentry product_cat-broaching-machine product_cat-chisels product_cat-cutters product_cat-drill-press product_cat-drills product_cat-gear-shaper product_cat-grinders product_cat-hammers product_cat-heat-guns product_cat-hobbing-machine product_cat-hone product_cat-levels product_cat-machining-tools product_cat-masonry product_cat-power-saws product_cat-power-tools product_cat-saws product_cat-trowels product_tag-cutter product_tag-hammer product_tag-household product_tag-power product_shipping_class-class-2 has-thumb swiper-slide tm-products-carousel-widget-slide swiper-slide-active" style="width: 420px; margin-right: 30px;">
        <div class="block_product_inner">
          <div class="block_product_thumbnail">
            <span class="onsale">Sale</span>
            <a href="https://ld-wp.template-help.com/woocommerce_58679/product/california-air-tools-cat-6310-oil-free-tank-air-compressor/" class="woocommerce-LoopProduct-link">
              <div class="tm-thumbs-wrap effect-fade">
                <div class="tm-thumbs-wrap__inner"><img width="340" height="340" src="./Willard – Enhanced E-store_files/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-340x340.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="California Air Tools CAT-6310 Oil-Free Tank Air Compressor (2)" title="California Air Tools CAT-6310 Oil-Free Tank Air Compressor (2)" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-2.png 1000w" sizes="(max-width: 340px) 100vw, 340px"><img width="340" height="340" src="./Willard – Enhanced E-store_files/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-340x340.png" class="attachment-shop_catalog size-shop_catalog" alt="California Air Tools CAT-6310 Oil-Free Tank Air Compressor (2)" title="California Air Tools CAT-6310 Oil-Free Tank Air Compressor (2)" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/California-Air-Tools-CAT-6310-Oil-Free-Tank-Air-Compressor-6.png 1000w" sizes="(max-width: 340px) 100vw, 340px"></div>
              </div>
            </a>
            <div class="wishlist_compare_button_block">
              <button type="button" class="button tm-woowishlist-button btn btn-default" data-id="264" data-nonce="7859c8a603"><span class="tm_woowishlist_product_actions_tip"><span class="text">Add to Wishlist</span></span>
              </button>
              <button type="button" class="button tm-woocompare-button btn btn-default" data-id="264" data-nonce="2d2a9b38b2"><span class="tm_woocompare_product_actions_tip"><span class="text">Add to Compare</span></span>
              </button>
              <div class="tm-quick-view">
                <a href="https://ld-wp.template-help.com/woocommerce_58679/#" class="tm-quick-view-btn" data-action="quick-view-button" data-product="264">Quick View</a>
              </div>
            </div>
          </div>
          <div class="block_product_content">
            <ul class="product-categories">
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/broaching-machine/" rel="tag">Broaching machine</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/chisels/" rel="tag">Chisels</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/cutters/" rel="tag">Cutters</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/drill-press/" rel="tag">Drill press</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/drills/" rel="tag">Drills</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/gear-shaper/" rel="tag">Gear shaper</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/grinders/" rel="tag">Grinders</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/hammers/" rel="tag">Hammers</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/heat-guns/" rel="tag">Heat Guns</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hobbing-machine/" rel="tag">Hobbing machine</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hone/" rel="tag">Hone</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/levels/" rel="tag">Levels</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/" rel="tag">Machining Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/" rel="tag">Masonry</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/power-saws/" rel="tag">Power Saws</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/" rel="tag">Power Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/saws/" rel="tag">Saws</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/trowels/" rel="tag">Trowels</a></li>
            </ul>
            <h3><a href="https://ld-wp.template-help.com/woocommerce_58679/product/california-air-tools-cat-6310-oil-free-tank-air-compressor/" class="woocommerce-LoopProduct-link">California Air Tools CAT-6310 Oil-Free Tank Air Compressor</a></h3>
            <div class="price-add-to-cart-wrap">
              <span class="price"><span class="woocs_price_code" data-product-id="264"><del><span class="woocommerce-Price-amount amount">89.00<span class="woocommerce-Price-currencySymbol">$</span></span>
              </del> <ins><span class="woocommerce-Price-amount amount">80.00<span class="woocommerce-Price-currencySymbol">$</span></span></ins></span>
              </span>
              <a rel="nofollow" href="https://ld-wp.template-help.com/woocommerce_58679/?add-to-cart=264" data-quantity="1" data-product_id="264" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="post-263 product type-product status-publish has-post-thumbnail hentry product_cat-cutters product_cat-drills product_cat-gardenign-tools product_cat-grinders product_cat-hand-tools product_cat-heat-guns product_cat-lubrication-tools product_cat-plumbing-tools product_cat-power-saws product_cat-power-tools product_cat-sockets product_cat-wrenches product_tag-cutter product_tag-hammer product_tag-household product_tag-sprayer product_tag-tools product_shipping_class-class-2 has-thumb swiper-slide tm-products-carousel-widget-slide swiper-slide-next" style="width: 420px; margin-right: 30px;">
        <div class="block_product_inner">
          <div class="block_product_thumbnail">
            <span class="onsale">Sale</span>
            <a href="https://ld-wp.template-help.com/woocommerce_58679/product/dewalt-dc970k-2-18-volt-drill-driver-kit/" class="woocommerce-LoopProduct-link">
              <div class="tm-thumbs-wrap effect-fade">
                <div class="tm-thumbs-wrap__inner"><img width="340" height="340" src="./Willard – Enhanced E-store_files/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-340x340.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="DEWALT DC970K-2 18-Volt Drill-Driver Kit 2" title="DEWALT DC970K-2 18-Volt Drill-Driver Kit 2" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-2.png 1000w" sizes="(max-width: 340px) 100vw, 340px"><img width="340" height="340" src="./Willard – Enhanced E-store_files/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-340x340.png" class="attachment-shop_catalog size-shop_catalog" alt="DEWALT DC970K-2 18-Volt Drill-Driver Kit 2" title="DEWALT DC970K-2 18-Volt Drill-Driver Kit 2" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/DEWALT-DC970K-2-18-Volt-Drill-Driver-Kit-6.png 1000w" sizes="(max-width: 340px) 100vw, 340px"></div>
              </div>
            </a>
            <div class="wishlist_compare_button_block">
              <button type="button" class="button tm-woowishlist-button btn btn-default" data-id="263" data-nonce="5411631a52"><span class="tm_woowishlist_product_actions_tip"><span class="text">Add to Wishlist</span></span>
              </button>
              <button type="button" class="button tm-woocompare-button btn btn-default" data-id="263" data-nonce="701a0017fa"><span class="tm_woocompare_product_actions_tip"><span class="text">Add to Compare</span></span>
              </button>
              <div class="tm-quick-view">
                <a href="https://ld-wp.template-help.com/woocommerce_58679/#" class="tm-quick-view-btn" data-action="quick-view-button" data-product="263">Quick View</a>
              </div>
            </div>
          </div>
          <div class="block_product_content">
            <ul class="product-categories">
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/cutters/" rel="tag">Cutters</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/drills/" rel="tag">Drills</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/gardenign-tools/" rel="tag">Gardenign Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/grinders/" rel="tag">Grinders</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/" rel="tag">Hand Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/heat-guns/" rel="tag">Heat Guns</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/lubrication-tools/" rel="tag">Lubrication Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/plumbing-tools/" rel="tag">Plumbing Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/power-saws/" rel="tag">Power Saws</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/" rel="tag">Power Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/sockets/" rel="tag">Sockets</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/wrenches/" rel="tag">Wrenches</a></li>
            </ul>
            <h3><a href="https://ld-wp.template-help.com/woocommerce_58679/product/dewalt-dc970k-2-18-volt-drill-driver-kit/" class="woocommerce-LoopProduct-link">DEWALT DC970K-2 18-Volt Drill-Driver Kit</a></h3>
            <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>
            <div class="price-add-to-cart-wrap">
              <span class="price"><span class="woocs_price_code" data-product-id="263"><del><span class="woocommerce-Price-amount amount">146.00<span class="woocommerce-Price-currencySymbol">$</span></span>
              </del> <ins><span class="woocommerce-Price-amount amount">140.00<span class="woocommerce-Price-currencySymbol">$</span></span></ins></span>
              </span>
              <a rel="nofollow" href="https://ld-wp.template-help.com/woocommerce_58679/product/dewalt-dc970k-2-18-volt-drill-driver-kit/" data-quantity="1" data-product_id="263" data-product_sku="" class="button product_type_variable add_to_cart_button">Select</a>
            </div>
          </div>
        </div>
      </div>
      <div class="post-234 product type-product status-publish has-post-thumbnail hentry product_cat-broaching-machine product_cat-cutters product_cat-drill-press product_cat-drills product_cat-gear-shaper product_cat-grinders product_cat-heat-guns product_cat-hobbing-machine product_cat-hone product_cat-machining-tools product_cat-power-saws product_cat-power-tools product_tag-hammer product_tag-household product_tag-power product_tag-power-tools product_tag-sprayer product_shipping_class-class-2 has-thumb swiper-slide tm-products-carousel-widget-slide" style="width: 420px; margin-right: 30px;">
        <div class="block_product_inner">
          <div class="block_product_thumbnail">
            <span class="onsale">Sale</span>
            <a href="https://ld-wp.template-help.com/woocommerce_58679/product/shop-fox-w1713-16-inch-variable-speed-scroll-saw/" class="woocommerce-LoopProduct-link">
              <div class="tm-thumbs-wrap effect-fade">
                <div class="tm-thumbs-wrap__inner"><img width="340" height="340" src="./Willard – Enhanced E-store_files/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-340x340.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Shop Fox W1713 16-Inch Variable Speed Scroll Saw 1" title="Shop Fox W1713 16-Inch Variable Speed Scroll Saw 1" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-1.png 1000w" sizes="(max-width: 340px) 100vw, 340px"><img width="340" height="340" src="./Willard – Enhanced E-store_files/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-340x340.png" class="attachment-shop_catalog size-shop_catalog" alt="Shop Fox W1713 16-Inch Variable Speed Scroll Saw 1" title="Shop Fox W1713 16-Inch Variable Speed Scroll Saw 1" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/Shop-Fox-W1713-16-Inch-Variable-Speed-Scroll-Saw-2.png 1000w" sizes="(max-width: 340px) 100vw, 340px"></div>
              </div>
            </a>
            <div class="wishlist_compare_button_block">
              <button type="button" class="button tm-woowishlist-button btn btn-default" data-id="234" data-nonce="87692d3090"><span class="tm_woowishlist_product_actions_tip"><span class="text">Add to Wishlist</span></span>
              </button>
              <button type="button" class="button tm-woocompare-button btn btn-default" data-id="234" data-nonce="e49c77a9fa"><span class="tm_woocompare_product_actions_tip"><span class="text">Add to Compare</span></span>
              </button>
              <div class="tm-quick-view">
                <a href="https://ld-wp.template-help.com/woocommerce_58679/#" class="tm-quick-view-btn" data-action="quick-view-button" data-product="234">Quick View</a>
              </div>
            </div>
          </div>
          <div class="block_product_content">
            <ul class="product-categories">
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/broaching-machine/" rel="tag">Broaching machine</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/cutters/" rel="tag">Cutters</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/drill-press/" rel="tag">Drill press</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/drills/" rel="tag">Drills</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/gear-shaper/" rel="tag">Gear shaper</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/grinders/" rel="tag">Grinders</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/heat-guns/" rel="tag">Heat Guns</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hobbing-machine/" rel="tag">Hobbing machine</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hone/" rel="tag">Hone</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/" rel="tag">Machining Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/power-saws/" rel="tag">Power Saws</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/" rel="tag">Power Tools</a></li>
            </ul>
            <h3><a href="https://ld-wp.template-help.com/woocommerce_58679/product/shop-fox-w1713-16-inch-variable-speed-scroll-saw/" class="woocommerce-LoopProduct-link">Shop Fox W1713 16-Inch Variable Speed Scroll Saw</a></h3>
            <div class="star-rating" title="Rated 3.00 out of 5"><span style="width:60%"><strong class="rating">3.00</strong> out of 5</span></div>
            <div class="price-add-to-cart-wrap">
              <span class="price"><span class="woocs_price_code" data-product-id="234"><del><span class="woocommerce-Price-amount amount">965.00<span class="woocommerce-Price-currencySymbol">$</span></span>
              </del> <ins><span class="woocommerce-Price-amount amount">950.00<span class="woocommerce-Price-currencySymbol">$</span></span></ins></span>
              </span>
              <a rel="nofollow" href="https://ld-wp.template-help.com/woocommerce_58679/?add-to-cart=234" data-quantity="1" data-product_id="234" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="post-233 product type-product status-publish has-post-thumbnail hentry product_cat-brushes product_cat-car-keys product_cat-car-locks product_cat-caulks product_cat-chisels product_cat-cutters product_cat-drills product_cat-exterior-paint product_cat-grinders product_cat-hammers product_cat-heat-guns product_cat-levels product_cat-locks-keys product_cat-masonry product_cat-misc product_cat-painting product_cat-power-saws product_cat-power-tools product_cat-residential-keys product_cat-residential-locks product_cat-rollers product_cat-saws product_cat-sealants product_cat-trowels product_tag-cutter product_tag-hammer product_tag-household product_tag-power-tools product_shipping_class-class-2 has-thumb swiper-slide tm-products-carousel-widget-slide" style="width: 420px; margin-right: 30px;">
        <div class="block_product_inner">
          <div class="block_product_thumbnail">
            <span class="onsale">Sale</span>
            <a href="https://ld-wp.template-help.com/woocommerce_58679/product/wen-61720-3-4-inch-to-2-inch-18-gauge-brad-nailer/" class="woocommerce-LoopProduct-link">
              <div class="tm-thumbs-wrap effect-fade">
                <div class="tm-thumbs-wrap__inner"><img width="340" height="340" src="./Willard – Enhanced E-store_files/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-340x340.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="WEN 61720 3-4-Inch to 2-Inch 18-Gauge Brad Nailer 1" title="WEN 61720 3-4-Inch to 2-Inch 18-Gauge Brad Nailer 1" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-1.png 1000w" sizes="(max-width: 340px) 100vw, 340px"><img width="340" height="340" src="./Willard – Enhanced E-store_files/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-340x340.png" class="attachment-shop_catalog size-shop_catalog" alt="WEN 61720 3-4-Inch to 2-Inch 18-Gauge Brad Nailer 1" title="WEN 61720 3-4-Inch to 2-Inch 18-Gauge Brad Nailer 1" srcset="https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-340x340.png 340w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-150x150.png 150w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-300x300.png 300w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-768x768.png 768w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-400x400.png 400w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-190x190.png 190w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-436x436.png 436w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-210x210.png 210w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2-674x674.png 674w, https://ld-wp.template-help.com/woocommerce_58679/wp-content/uploads/2017/01/WEN-61720-3-4-Inch-to-2-Inch-18-Gauge-Brad-Nailer-2.png 1000w" sizes="(max-width: 340px) 100vw, 340px"></div>
              </div>
            </a>
            <div class="wishlist_compare_button_block">
              <button type="button" class="button tm-woowishlist-button btn btn-default" data-id="233" data-nonce="8023cd9b17"><span class="tm_woowishlist_product_actions_tip"><span class="text">Add to Wishlist</span></span>
              </button>
              <button type="button" class="button tm-woocompare-button btn btn-default" data-id="233" data-nonce="2ab189edd8"><span class="tm_woocompare_product_actions_tip"><span class="text">Add to Compare</span></span>
              </button>
              <div class="tm-quick-view">
                <a href="https://ld-wp.template-help.com/woocommerce_58679/#" class="tm-quick-view-btn" data-action="quick-view-button" data-product="233">Quick View</a>
              </div>
            </div>
          </div>
          <div class="block_product_content">
            <ul class="product-categories">
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/brushes/" rel="tag">Brushes</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/car-keys/" rel="tag">Car Keys</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/car-locks/" rel="tag">Car Locks</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/caulks/" rel="tag">Caulks</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/chisels/" rel="tag">Chisels</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/cutters/" rel="tag">Cutters</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/drills/" rel="tag">Drills</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/exterior-paint/" rel="tag">Exterior Paint</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/grinders/" rel="tag">Grinders</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/hammers/" rel="tag">Hammers</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/heat-guns/" rel="tag">Heat Guns</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/levels/" rel="tag">Levels</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/" rel="tag">Locks &amp; Keys</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/" rel="tag">Masonry</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/misc/" rel="tag">Misc</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/" rel="tag">Painting</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/power-saws/" rel="tag">Power Saws</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/power-tools/" rel="tag">Power Tools</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/residential-keys/" rel="tag">Residential Keys</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/residential-locks/" rel="tag">Residential Locks</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/rollers/" rel="tag">Rollers</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/saws/" rel="tag">Saws</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/sealants/" rel="tag">Sealants</a></li>
              <li><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/trowels/" rel="tag">Trowels</a></li>
            </ul>
            <h3><a href="https://ld-wp.template-help.com/woocommerce_58679/product/wen-61720-3-4-inch-to-2-inch-18-gauge-brad-nailer/" class="woocommerce-LoopProduct-link">WEN 61720 3-4-Inch to 2-Inch 18-Gauge Brad Nailer</a></h3>
            <div class="price-add-to-cart-wrap">
              <span class="price"><span class="woocs_price_code" data-product-id="233"><del><span class="woocommerce-Price-amount amount">253.00<span class="woocommerce-Price-currencySymbol">$</span></span>
              </del> <ins><span class="woocommerce-Price-amount amount">245.00<span class="woocommerce-Price-currencySymbol">$</span></span></ins></span>
              </span>
              <a rel="nofollow" href="https://ld-wp.template-help.com/woocommerce_58679/?add-to-cart=233" data-quantity="1" data-product_id="233" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="swiper-carousel-59dc8509e1f90-next" class="swiper-button-next tm-products-carousel-widget-button-next swiper-button-disabled" style="display: block;"></div>
  <div id="swiper-carousel-59dc8509e1f90-prev" class="swiper-button-prev tm-products-carousel-widget-button-prev swiper-button-disabled" style="display: block;"></div>
</aside>