.vertical-center {
  display: flex;
  align-items: center;
}

.field-padding-bottom {
  padding-bottom: 15px;
}

#field-table, #brand-table, #slider-table, #catalog-table, #product-table {
  .panel-body {
    padding: 0;
  }
  .create-div {
    padding-bottom: 20px;
  }

  .table>thead>tr>th {
    border-bottom: 2px solid #ddd !important;
  }
}

#update-logo-brand {
  .modal-body {
    text-align: center !important;
  }
  .change-brand-logo {
    padding-top: 30px;
  }
}

#company-show, #slider-new, #catalog-new {
  .panel-body {
    padding: 0;
    width: 640px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
  .btn-align-center {
    text-align: center;
  }
}

#slider-new {
  .preview-slider-image-div {
    padding-bottom: 10px;
  }
  // .preview-slider-image {
  //   width:100%; 980x240
  // }
}
#catalog-new {
  .preview-catalog-image-div {
    padding-bottom: 10px;
  }
}

.preview-company-image-div, .preview-company-watermark-image-div {
  padding-bottom: 10px;
}

.alert-success, .alert-danger {
  margin-top: 15px;
}

#create-video, #delete, #create, #create-brand {
  .btn-default {
    width: 100px;
    height: 43px;
  }
  .btn-success {
    width: 100px;
    height: 43px;
  }
}

#field-table, #video-table, #create, #brand-table {
  .btn-success {
    width: 100px;
    height: 43px;
  }
}

#create-video, #delete, #field-table, #create, #create-brand {
  .modal-footer {
    text-align: center;
  }
}

#product-table {
  .category-group {
    .col-md-3 {
      padding-left: 0;
      padding-bottom: 20px;
    }
  }
}

#product-new, #video-table {
  .form-group-part {
    padding-left: 0;
  }
  .panel-body {
    padding: 0;
  }
  .block-image {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .form-group-sub-part {
    padding-left: 0;
    padding-right: 0;
  }

  .show-grid-image {
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #31708f;
  }
  .btn-align-center {
    text-align: center;
  }
  .parameter-form {
    padding-left: 0;
  }
}

#product-new, #company-show, #slider-new, #catalog-new {
  .btn-primary {
    width: 20%;
  }
  .preview-product-image-div {
    padding-bottom: 10px;
  }
  .price-form {
    padding-right: 0;
  }

  .show-grid [class^=col-] {
    border: 0;
    background-color: transparent !important;
    padding-top: 0;
  }
  .category-border {
    border: 1px solid #31708f;
    margin-bottom: 10px;
    padding: 0;
  }
  .category-field {
    padding: 10px;
    padding-bottom: 0;
  }
  #product-category{
    .modal-content {
      width: 200%;
      margin-left: -50%;
    }
  }

  .btn-group {
    margin-top: -7px;
  }

  .multi-line {
    white-space: pre-wrap;
    word-wrap: break-word;
    clear: both;
  }

  .btn-link {
    padding-left: 0;
  }

  .category-block {
    padding: 0;
  }

  .category-group {
    padding-left: 10px;
  }

  .category-label {
    margin: 0;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 99%;
  }
  .field-label {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
  }
  .category-order {
    width: 99%;
  }
  .funkyradio input[type="radio"]:empty ~ label {
    text-indent: 3em;
  }
  .show-grid {
    margin-top: 0;
  }
}
.admin-blog-detail {
  .page-header {
    font-size: 22px;
  }
  .blog-content {
    margin-top: 40px;
    .content-label {
      font-size: 20px;
    }
  }
}

#blog-table {
  .blog-table-heading {
    th {
      border-bottom: none !important;
    }
  }
  .create-div {
    &.panel-body {
      padding-bottom: 0;
    }
  }
}

.form-blog {
  #cke_blog_content {
    .cke_contents {
      min-height: 550px;
      height: auto;
    }
  }
  .table-inline-blog-form {
    width: auto;
    tr, td {
      border: none;
    }
    td .checkbox {
      margin-top: 0;
    }
  }
  #blog_title {
    width: 50%;
  }
  .label-inline-form {
    font-size: 18px;
  }
  #blog_images {
    .image-fields {
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ededed;
      .preview-blog-img {
        width: 250px;
        margin-bottom: 8px;
      }
    }
    .upload-blog-img {

    }
  }
  #blog-content {
    margin-top: 30px;
  }
}

#category-table {
  .panel-body {
    padding-left: 0;
    padding-right: 0;
    .col-md-4 {
      padding-left: 0;
      padding-top: 15px;
    }
    .child-div {
      padding-left: 37px;
    }
    .btn-add-category {
      // margin-bottom: 15px;
    }
    .btn {
      font-weight: bold;
    }
    .highest-category-block {
      margin-bottom: 15px;
    }
  }
  .category-div {
    text-align: center;
    padding-top: 15px;
  }
  .btn-name {
    width: 37%;
    text-align: left;
    min-width: 182px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
}

.upload-product {
  padding-top: 20px;
  .upload-product-button {
    margin-top: 20px;
  }
}
