.vertical-center {
  display: flex;
  align-items: center;
}

.field-padding-bottom {
  padding-bottom: 15px;
}

#field-table {
  .panel-body {
    padding: 0;
  }
  .create-div {
    padding-bottom: 20px;
  }
}
