.vertical-center {
  display: flex;
  align-items: center;
}

.field-padding-bottom {
  padding-bottom: 15px;
}

#field-table, #brand-table, #slider-table, #catalog-table {
  .panel-body {
    padding: 0;
  }
  .create-div {
    padding-bottom: 20px;
  }

  .table>thead>tr>th {
    border-bottom: 2px solid #ddd !important;
  }
}

#update-logo-brand {
  .modal-body {
    text-align: center !important;
  }
  .change-brand-logo {
    padding-top: 30px;
  }
}

#company-show, #slider-new, #catalog-new {
  .panel-body {
    padding: 0;
    width: 640px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
  .btn-align-center {
    text-align: center;
  }
}

#slider-new {
  .preview-slider-image-div {
    padding-bottom: 10px;
  }
  // .preview-slider-image {
  //   width:100%; 980x240
  // }
}
#catalog-new {
  .preview-catalog-image-div {
    padding-bottom: 10px;
  }
}
