<div class="nested-fields image-fields">
  <div class="field">
    <div class="preview-blog-img">
      <% if f.object.url_url %>
        <%= image_tag f.object.url_url, height: 180, class: "preview-blog-img img-responsive" %>
      <% else %>
        <img src="/preview_no_image.jpg" height="180" class="preview-blog-img img-responsive">
      <% end %>
    </div>
    <%= f.file_field :url, class: "upload-blog-img hide" %>
    <button class="btn btn-success choose-img" type="button">Chọn ảnh</button>
    <strong>Chọn là ảnh đại diện</strong> <%= f.check_box :is_feature %>
  </div>
  <div>
    <%= link_to_remove_association "Xóa ảnh", f %>
  </div>
</div>
