<div class="images">
  <div class="easyzoom is-ready easyzoom--overlay easyzoom--with-thumbnails">
    <a href="" class="woocommerce-main-image">
      <%= image_tag @product.product_images.first.url, size: '400', 'data-zoom-image': @product.product_images.first.url, id: 'zoom' %>
    </a>
  </div>

  <div class="swiper-carousel-container">
    <div id="swiper-carousel-59e9bc5f03f8c" class="tm-willard-carousel swiper-container swiper-container-horizontal" style="cursor: -webkit-grab;">
      <div class="swiper-wrapper" id="gallery_01">
        <% @product.product_images.each do |image| %>
          <a href="" data-image="<%= image.url %>" data-zoom-image="<%= image.url %>" class="thumb-image-product">
            <%= image_tag image.url, size: "10" %>
          </a>
        <% end %>
      </div>

      <script>
        //initiate the plugin and pass the id of the div containing gallery images
        $("#zoom").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, scrollZoom: true, tintOpacity: 0.5});

        //pass the images to Fancybox
        $("#zoom").bind("click", function(e) {
          var ez =   $('#zoom').data('elevateZoom');
          $.fancybox(ez.getGalleryList());
          return false;
        });
      </script>
    </div>
  </div>
</div>
