<article id="post-73" class="posts-list__item card post-73 post type-post status-publish format-standard has-post-thumbnail hentry category-accessories category-diy-home category-tips tag-drill tag-hammer tag-hand-tools tag-power-tools has-thumb">
  <figure class="post-thumbnail">
    <span class="post-cats">
      <%= link_to block[:name], products_path(category_id: block[:id]) %>
    </span>
  </figure>
  <div class="products row">
    <% block[:products].each do |product|%>
      <%= render "product_field", product: product, col: 3 %>
    <% end %>
  </div>
  <div class="block-footer">
    <%= link_to products_path(category_id: block[:id]), class: 'btn btn-secondary' do %>
      <span class="link__text">Xem thêm</span>
    <% end %>
  </div>
</article>
