@font-face {
    font-family: 'construction';
    src: url('/assets/construction-regular.eot?4773011');
    src: url('/assets/construction-regular.eot?4773011#iefix') format('embedded-opentype'), url('/assets/construction-regular.woff?4773011') format('woff'), url('/assets/construction-regular.ttf?4773011') format('truetype'), url('/assets/construction-regular.svg?4773011#construction') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tm_font_icon .construction:before,
[class^="construction-icon-"]:before,
[class*=" construction-icon-"]:before,
.construction-ico {
    font-family: "construction";
    font-weight: 400;
    font-style: normal;
    font-size: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.construction-icon-01:before {
    content: '\e800';
}

.construction-icon-02:before {
    content: '\e801';
}

.construction-icon-03:before {
    content: '\e802';
}

.construction-icon-04:before {
    content: '\e803';
}

.construction-icon-05:before {
    content: '\e804';
}

.construction-icon-06:before {
    content: '\e805';
}

.construction-icon-07:before {
    content: '\e806';
}

.construction-icon-08:before {
    content: '\e807';
}

.construction-icon-09:before {
    content: '\e808';
}

.construction-icon-10:before {
    content: '\e809';
}

.construction-icon-11:before {
    content: '\e80a';
}

.construction-icon-12:before {
    content: '\e80b';
}

.construction-icon-13:before {
    content: '\e80c';
}

.construction-icon-14:before {
    content: '\e80d';
}

.construction-icon-15:before {
    content: '\e80e';
}

.construction-icon-16:before {
    content: '\e80f';
}

.construction-icon-17:before {
    content: '\e810';
}

.construction-icon-18:before {
    content: '\e811';
}

.construction-icon-19:before {
    content: '\e812';
}

.construction-icon-20:before {
    content: '\e813';
}