<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="breadcrumbs__title"></div>
      <div class="breadcrumbs__items">
        <div class="breadcrumbs__content">
          <div class="breadcrumbs__wrap">
            <% if @breads.present? %>
              <div class="breadcrumbs__item">
                <%= link_to "Trang chủ", root_url, class: "breadcrumbs__item-link is-home" %>
              </div>
              <div class="breadcrumbs__item">
                <div class="breadcrumbs__item-sep">|</div>
              </div>
              <% @breads.each do |b|%>
                <% unless b == @breads.last %>
                  <div class="breadcrumbs__item">
                    <%= link_to b[:title], b[:link] %>
                  </div>
                  <div class="breadcrumbs__item">
                    <div class="breadcrumbs__item-sep">|</div>
                  </div>
                <% else %>
                  <div class="breadcrumbs__item">
                    <span class="breadcrumbs__item-target"><%= b[:title] %></span>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
