<header id="masthead" class="site-header default" role="banner">
  <!-- Mobile panel -->
  <div class="mobile-panel">
    <button class="menu-toggle mobile-toggle" aria-controls="main-menu" aria-expanded="false">
    <span class="menu-toggle-box">
    <span class="menu-toggle-inner"></span>
    </span>
    </button>
    <div class="mobile-panel__right">
      <div class="header-search">
        <span class="search-form__toggle"></span>

        <!-- Search form -->
        <form role="search" method="get" class="search-form woocommerce-product-search" action="">
          <div class="search-form__input-wrap">
            <label class="screen-reader-text" for="woocommerce-product-search-field">Search for:</label>
            <i class="linearicon linearicon-magnifier"></i>
            <input type="search" id="woocommerce-product-search-field" class="search-form__field" placeholder="Tìm kiếm sản phẩm…" value="" name="s" title="Search for:">
          </div>
          <button type="submit" class="search-form__submit btn-secondary">Tìm kiếm`</button>
          <input type="hidden" name="post_type" value="product">
        </form>
        <span class="search-form__close"></span>
      </div>
     
    </div>
  </div>
  <!-- End Mobile panel -->
  
  <!-- Web Panel -->
  <div class="top-panel ">
    <div class="top-panel__container container">
      <div class="top-panel__top">
        <div class="top-panel__left">
          <div class="contact-block contact-block--header">
            <div class="contact-block__inner">
              <div class="contact-block__item contact-block__item--icon">
                <i class="contact-block__icon linearicon linearicon-telephone"></i>
                <div class="contact-block__value-wrap">
                  <span class="contact-block__label"><%= Company.first.phone %></span><span class="contact-block__text">
                    <%= Company.first.work_time %>
                  </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-panel__right">
          <div class="social-list social-list--footer social-list--icon">
            <ul id="social-list-1" class="social-list__items inline-list">
              <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="http://facebook.com/"><span class="screen-reader-text">Facebook</span></a></li>
              <li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a href="http://twitter.com/"><span class="screen-reader-text">Twitter</span></a></li>
              <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a href="http://linkedin.com/"><span class="screen-reader-text">Linkedin</span></a></li>
              <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47"><a href="http://instagram.com/"><span class="screen-reader-text">Instagram</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header content -->
  <div class="header-container">
    <div class="header-container_wrap container">
      <div class="header-container__flex">
        <div class="site-branding">
          <div class="site-logo">
            <a class="site-logo__link" href="" rel="home">
            <img src="https://ld-wp.template-help.com/woocommerce_58679/wp-content/themes/tm-willard/assets/images/logo.png" alt="Vật tư thí nghiệm" class="site-link__img"></a>
          </div>
        </div>
        
        <!-- Search form -->
        <div class="header-search">
          <form role="search" method="get" class="search-form woocommerce-product-search" action="">
            <div class="search-form__input-wrap">
              <label class="screen-reader-text" for="woocommerce-product-search-field">Search for:</label>
              <i class="linearicon linearicon-magnifier"></i>
              <input type="search" id="woocommerce-product-search-field" class="search-form__field" placeholder="Tìm kiếm sản phẩm…" value="" name="s" title="Search for:">
            </div>
            <button type="submit" class="search-form__submit btn-secondary">Tìm kiếm</button>
            <input type="hidden" name="post_type" value="product">
          </form>
        </div>
        <!-- End Search form -->
      </div>
    </div>

    <!-- Menu -->
    <div class="header-main-menu">
      <div class="container">
        <nav id="site-navigation" class="main-navigation" role="navigation">
          <input class="tm-mega-menu-mobile-trigger-box custom-menu" id="trigger-main-menu" type="checkbox" checked="">
          <ul id="main-menu" class="tm-mega-menu menu tm-mega-menu mega-menu-direction-horizontal total-columns-12" data-effect="slide-top" data-direction="horizontal" data-parent-selector=".tm-mega-menu" data-mobile-trigger="767" data-duration="300" data-mobile-button="1">
            <li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="megamenu" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">POWER TOOLS<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-32" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-32" id="tm-megamenu-toggle-32" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top mega-sub" style="left: 0px; width: 1806px;">
                <li id="menu-item-340" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-340 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/">Hand Tools<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-340" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-340" id="tm-megamenu-toggle-340" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-341" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-341 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/gardenign-tools/">Gardenign Tools</a>
                    </li>
                    <li id="menu-item-342" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-342 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/lubrication-tools/">Lubrication Tools</a>
                    </li>
                    <li id="menu-item-343" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-343 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/plumbing-tools/">Plumbing Tools</a>
                    </li>
                    <li id="menu-item-344" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-344 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/sockets/">Sockets</a>
                    </li>
                    <li id="menu-item-345" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-345 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/wrenches/">Wrenches</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-346" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-346 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/">Houseware Tools<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-346" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-346" id="tm-megamenu-toggle-346" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-347" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-347 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/cleaning-cloths/">Cleaning cloths</a>
                    </li>
                    <li id="menu-item-348" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-348 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/glass-tumblers/">Glass tumblers</a>
                    </li>
                    <li id="menu-item-349" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-349 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/molds/">Molds</a>
                    </li>
                    <li id="menu-item-350" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-350 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/paper-cups/">Paper cups</a>
                    </li>
                    <li id="menu-item-351" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-351 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/plastic-cups/">Plastic cups</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-352" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-352 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/">Locks &amp; Keys<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-352" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-352" id="tm-megamenu-toggle-352" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-353" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-353 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/car-keys/">Car Keys</a>
                    </li>
                    <li id="menu-item-354" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-354 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/car-locks/">Car Locks</a>
                    </li>
                    <li id="menu-item-355" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-355 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/misc/">Misc</a>
                    </li>
                    <li id="menu-item-356" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-356 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/residential-keys/">Residential Keys</a>
                    </li>
                    <li id="menu-item-357" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-357 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/residential-locks/">Residential Locks</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-358" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-358 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/">Machining Tools<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-358" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-358" id="tm-megamenu-toggle-358" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-359" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-359 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/broaching-machine/">Broaching machine</a>
                    </li>
                    <li id="menu-item-360" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-360 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/drill-press/">Drill press</a>
                    </li>
                    <li id="menu-item-361" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-361 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/gear-shaper/">Gear shaper</a>
                    </li>
                    <li id="menu-item-362" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-362 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hobbing-machine/">Hobbing machine</a>
                    </li>
                    <li id="menu-item-363" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-363 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hone/">Hone</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-364" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-364 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/">Masonry<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-364" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-364" id="tm-megamenu-toggle-364" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-365" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-365 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/chisels/">Chisels</a>
                    </li>
                    <li id="menu-item-366" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-366 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/hammers/">Hammers</a>
                    </li>
                    <li id="menu-item-367" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-367 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/levels/">Levels</a>
                    </li>
                    <li id="menu-item-368" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-368 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/saws/">Saws</a>
                    </li>
                    <li id="menu-item-369" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-369 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/trowels/">Trowels</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-370" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-370 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/">Painting<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-370" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-370" id="tm-megamenu-toggle-370" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-371" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-371 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/brushes/">Brushes</a>
                    </li>
                    <li id="menu-item-372" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-372 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/caulks/">Caulks</a>
                    </li>
                    <li id="menu-item-373" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-373 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/exterior-paint/">Exterior Paint</a>
                    </li>
                    <li id="menu-item-374" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-374 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/rollers/">Rollers</a>
                    </li>
                    <li id="menu-item-375" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-375 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/sealants/">Sealants</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="standard" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/blog/">Blog<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-70" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-70" id="tm-megamenu-toggle-70" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top simple-sub">
                <li id="menu-item-449" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-449 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Blog layouts<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-449" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-449" id="tm-megamenu-toggle-449" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-450 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog/?ld&amp;blog_layout_type=default">Classic</a>
                    </li>
                    <li id="menu-item-451" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-451 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=grid-3-cols">Grid (3 Columns)</a>
                    </li>
                    <li id="menu-item-452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-452 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=grid-4-cols&amp;sidebar_position=fullwidth">Grid (4 Columns)</a>
                    </li>
                    <li id="menu-item-453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-453 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=masonry-3-cols">Masonry (3 Columns)</a>
                    </li>
                    <li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=masonry-4-cols&amp;sidebar_position=fullwidth">Masonry (4 columns)</a>
                    </li>
                    <li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-455 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=vertical-justify&amp;post_per_page=7&amp;sidebar_position=fullwidth">Vertical Justify</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-456 tm-mega-menu-sub-item item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/?s=TIPS">Search result</a>
                </li>
                <li id="menu-item-457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-457 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Post formats<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-457" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-457" id="tm-megamenu-toggle-457" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-458" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-458 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/audio-format/">Audio Format</a>
                    </li>
                    <li id="menu-item-459" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-459 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/video-format/">Video Format</a>
                    </li>
                    <li id="menu-item-460" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-460 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/quote-format/">Quote Format</a>
                    </li>
                    <li id="menu-item-461" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-461 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/link-format/">Link Format</a>
                    </li>
                    <li id="menu-item-462" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-462 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/image-format/">Image Format</a>
                    </li>
                    <li id="menu-item-463" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-463 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/gallery-format/">Gallery Format</a>
                    </li>
                    <li id="menu-item-464" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-464 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/aside-format/">Aside Format</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-465" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-465 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Sidebar style<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-465" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-465" id="tm-megamenu-toggle-465" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-466" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-466 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=one-left-sidebar">Sidebar left</a>
                    </li>
                    <li id="menu-item-467" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-467 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=one-right-sidebar">Sidebar right</a>
                    </li>
                    <li id="menu-item-468" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-468 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=fullwidth&amp;blog_layout_type=grid-4-cols">No sidebar</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-230 tm-mega-menu-top-item item-submenu-position-fullwidth">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/shop/">Shop</a>
            </li>
            <li id="menu-item-389" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="standard" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Pages<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-389" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-389" id="tm-megamenu-toggle-389" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top simple-sub">
                <li id="menu-item-391" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-391 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Shop pages<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-391" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-391" id="tm-megamenu-toggle-391" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/cart/">Cart</a>
                    </li>
                    <li id="menu-item-782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-782 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/checkout/">Checkout</a>
                    </li>
                    <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/categories-listing/">Categories listing</a>
                    </li>
                    <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/shop/">Products listing</a>
                    </li>
                    <li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-410 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product/dewalt-dw618b3-horsepower-plunge-base-and-fixed-base/">Single product</a>
                    </li>
                    <li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/shopping-widgets/">Shopping widgets</a>
                    </li>
                    <li id="menu-item-781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-781 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/?s=black&amp;post_type=product">Search result</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-393" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Standard pages<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-393" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-393" id="tm-megamenu-toggle-393" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-498 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/about/">About</a>
                    </li>
                    <li id="menu-item-499" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-499 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/page_404">404</a>
                    </li>
                    <li id="menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-500 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/contacts/">Contacts</a>
                    </li>
                    <li id="menu-item-501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-501 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/typography/">Typography</a>
                    </li>
                    <li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/faqs/">FAQS</a>
                    </li>
                    <li id="menu-item-504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-504 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/maintenance/">Maintenance</a>
                    </li>
                    <li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/our-team/">Our Team</a>
                    </li>
                    <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-513 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/team/sam-kromstain/">Team member</a>
                    </li>
                    <li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/careers/">Careers</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-394" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-394 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Header styles<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-394" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-394" id="tm-megamenu-toggle-394" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-542" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-542 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=default&amp;header_search=0&amp;header_social_links=0">Header style 1</a>
                    </li>
                    <li id="menu-item-543" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-543 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-2&amp;header_social_links=0">Header style 2</a>
                    </li>
                    <li id="menu-item-544" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-544 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-3">Header style 3</a>
                    </li>
                    <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-4">Header style 4</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-395" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-395 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Footer styles<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-395" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-395" id="tm-megamenu-toggle-395" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-545" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-545 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=default">Footer style 1</a>
                    </li>
                    <li id="menu-item-546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-546 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=centered">Footer style 2</a>
                    </li>
                    <li id="menu-item-547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-547 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=minimal">Footer style 3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-390" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-390 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="standard" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Elements<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-390" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-390" id="tm-megamenu-toggle-390" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top simple-sub">
                <li id="menu-item-397" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-397 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Dynamic elements<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-397" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-397" id="tm-megamenu-toggle-397" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-668 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/brands-partners-and-clients-module/">Brands, Partners and Clients module</a>
                    </li>
                    <li id="menu-item-669" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-669 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/carousel-module/">Carousel module</a>
                    </li>
                    <li id="menu-item-670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-670 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/post-module/">Post module</a>
                    </li>
                    <li id="menu-item-671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-671 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/taxonomy-module/">Taxonomy Module</a>
                    </li>
                    <li id="menu-item-672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-672 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/team-module/">Team module</a>
                    </li>
                    <li id="menu-item-673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-673 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/testimonials-module/">Testimonials module</a>
                    </li>
                    <li id="menu-item-482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-482 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/timeline/">Timeline</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-396" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-396 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Static elements<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-396" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
                  <input type="checkbox" name="tm-megamenu-toggle-396" id="tm-megamenu-toggle-396" class="mega-menu-mobile-toggle" value="1">
                  <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                    <li id="menu-item-588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-588 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/accordion/">Accordion</a>
                    </li>
                    <li id="menu-item-589" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-589 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/animated-counter/">Animated counter</a>
                    </li>
                    <li id="menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-590 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/audio/">Audio</a>
                    </li>
                    <li id="menu-item-591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-591 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/blurb/">Blurb</a>
                    </li>
                    <li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/buttons/">Buttons</a>
                    </li>
                    <li id="menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-593 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/call-to-action/">Call to action</a>
                    </li>
                    <li id="menu-item-594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-594 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/circle-counter/">Circle Counter</a>
                    </li>
                    <li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/contact-form/">Contact form</a>
                    </li>
                    <li id="menu-item-596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-596 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/countdown-timer/">Countdown Timer</a>
                    </li>
                    <li id="menu-item-597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-597 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/images/">Images</a>
                    </li>
                    <li id="menu-item-598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-598 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/map/">Map</a>
                    </li>
                    <li id="menu-item-599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-599 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/number-counter/">Number Counter</a>
                    </li>
                    <li id="menu-item-600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/person/">Person</a>
                    </li>
                    <li id="menu-item-601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-601 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/pricing-table/">Pricing Table</a>
                    </li>
                    <li id="menu-item-602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-602 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/slider/">Slider</a>
                    </li>
                    <li id="menu-item-603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/social-sharing/">Social Sharing</a>
                    </li>
                    <li id="menu-item-604" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-604 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/tabs/">Tabs</a>
                    </li>
                    <li id="menu-item-605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-605 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/text/">Text</a>
                    </li>
                    <li id="menu-item-696" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-696 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/video-slider/">Video slider</a>
                    </li>
                    <li id="menu-item-697" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/video/">Video</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-674 tm-mega-menu-sub-item item-nested-sub item-nested-sub-1">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/typography/">Typography</a>
                </li>
              </ul>
            </li>
            <li id="" class="super-guacamole__menu menu-item menu-item-has-children" hidden="hidden" style="">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">More</a><span class="sub-menu-toggle"></span>
              <ul class="sub-menu">
                <li id="sg-menu-item-32" class="super-guacamole__menu__child menu-item menu-item-has-children" hidden="hidden">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">POWER TOOLS</a><span class="sub-menu-toggle"></span>
                  <ul class="sub-menu">
                    <li id="sg-menu-item-340" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/">Hand Tools</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-341" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/gardenign-tools/">Gardenign Tools</a></li>
                        <li id="sg-menu-item-342" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/lubrication-tools/">Lubrication Tools</a></li>
                        <li id="sg-menu-item-343" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/plumbing-tools/">Plumbing Tools</a></li>
                        <li id="sg-menu-item-344" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/sockets/">Sockets</a></li>
                        <li id="sg-menu-item-345" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/hand-tools/wrenches/">Wrenches</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-346" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/">Houseware Tools</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-347" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/cleaning-cloths/">Cleaning cloths</a></li>
                        <li id="sg-menu-item-348" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/glass-tumblers/">Glass tumblers</a></li>
                        <li id="sg-menu-item-349" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/molds/">Molds</a></li>
                        <li id="sg-menu-item-350" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/paper-cups/">Paper cups</a></li>
                        <li id="sg-menu-item-351" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/houseware-tools/plastic-cups/">Plastic cups</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-352" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/">Locks &amp; Keys</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-353" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/car-keys/">Car Keys</a></li>
                        <li id="sg-menu-item-354" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/car-locks/">Car Locks</a></li>
                        <li id="sg-menu-item-355" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/misc/">Misc</a></li>
                        <li id="sg-menu-item-356" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/residential-keys/">Residential Keys</a></li>
                        <li id="sg-menu-item-357" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/locks-keys/residential-locks/">Residential Locks</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-358" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/">Machining Tools</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-359" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/broaching-machine/">Broaching machine</a></li>
                        <li id="sg-menu-item-360" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/drill-press/">Drill press</a></li>
                        <li id="sg-menu-item-361" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/gear-shaper/">Gear shaper</a></li>
                        <li id="sg-menu-item-362" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hobbing-machine/">Hobbing machine</a></li>
                        <li id="sg-menu-item-363" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/machining-tools/hone/">Hone</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-364" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/">Masonry</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-365" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/chisels/">Chisels</a></li>
                        <li id="sg-menu-item-366" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/hammers/">Hammers</a></li>
                        <li id="sg-menu-item-367" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/levels/">Levels</a></li>
                        <li id="sg-menu-item-368" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/saws/">Saws</a></li>
                        <li id="sg-menu-item-369" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/masonry/trowels/">Trowels</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-370" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/">Painting</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-371" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/brushes/">Brushes</a></li>
                        <li id="sg-menu-item-372" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/caulks/">Caulks</a></li>
                        <li id="sg-menu-item-373" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/exterior-paint/">Exterior Paint</a></li>
                        <li id="sg-menu-item-374" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/rollers/">Rollers</a></li>
                        <li id="sg-menu-item-375" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product-category/painting/sealants/">Sealants</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li id="sg-menu-item-70" class="super-guacamole__menu__child menu-item menu-item-has-children" hidden="hidden">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog/">Blog</a><span class="sub-menu-toggle"></span>
                  <ul class="sub-menu">
                    <li id="sg-menu-item-449" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Blog layouts</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-450" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog/?ld&amp;blog_layout_type=default">Classic</a></li>
                        <li id="sg-menu-item-451" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=grid-3-cols">Grid (3 Columns)</a></li>
                        <li id="sg-menu-item-452" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=grid-4-cols&amp;sidebar_position=fullwidth">Grid (4 Columns)</a></li>
                        <li id="sg-menu-item-453" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=masonry-3-cols">Masonry (3 Columns)</a></li>
                        <li id="sg-menu-item-454" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=masonry-4-cols&amp;sidebar_position=fullwidth">Masonry (4 columns)</a></li>
                        <li id="sg-menu-item-455" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=vertical-justify&amp;post_per_page=7&amp;sidebar_position=fullwidth">Vertical Justify</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-456" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/?s=TIPS">Search result</a></li>
                    <li id="sg-menu-item-457" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Post formats</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-458" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/audio-format/">Audio Format</a></li>
                        <li id="sg-menu-item-459" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/video-format/">Video Format</a></li>
                        <li id="sg-menu-item-460" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/quote-format/">Quote Format</a></li>
                        <li id="sg-menu-item-461" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/link-format/">Link Format</a></li>
                        <li id="sg-menu-item-462" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/image-format/">Image Format</a></li>
                        <li id="sg-menu-item-463" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/gallery-format/">Gallery Format</a></li>
                        <li id="sg-menu-item-464" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/aside-format/">Aside Format</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-465" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Sidebar style</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-466" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=one-left-sidebar">Sidebar left</a></li>
                        <li id="sg-menu-item-467" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=one-right-sidebar">Sidebar right</a></li>
                        <li id="sg-menu-item-468" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=fullwidth&amp;blog_layout_type=grid-4-cols">No sidebar</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li id="sg-menu-item-230" class="super-guacamole__menu__child menu-item" hidden="hidden"><a href="https://ld-wp.template-help.com/woocommerce_58679/shop/">Shop</a></li>
                <li id="sg-menu-item-389" class="super-guacamole__menu__child menu-item menu-item-has-children" hidden="hidden">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Pages</a><span class="sub-menu-toggle"></span>
                  <ul class="sub-menu">
                    <li id="sg-menu-item-391" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Shop pages</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-398" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/cart/">Cart</a></li>
                        <li id="sg-menu-item-782" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/checkout/">Checkout</a></li>
                        <li id="sg-menu-item-403" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/categories-listing/">Categories listing</a></li>
                        <li id="sg-menu-item-406" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/shop/">Products listing</a></li>
                        <li id="sg-menu-item-410" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/product/dewalt-dw618b3-horsepower-plunge-base-and-fixed-base/">Single product</a></li>
                        <li id="sg-menu-item-409" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/shopping-widgets/">Shopping widgets</a></li>
                        <li id="sg-menu-item-781" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/?s=black&amp;post_type=product">Search result</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-393" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Standard pages</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-498" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/about/">About</a></li>
                        <li id="sg-menu-item-499" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/page_404">404</a></li>
                        <li id="sg-menu-item-500" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/contacts/">Contacts</a></li>
                        <li id="sg-menu-item-501" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/typography/">Typography</a></li>
                        <li id="sg-menu-item-503" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/faqs/">FAQS</a></li>
                        <li id="sg-menu-item-504" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/maintenance/">Maintenance</a></li>
                        <li id="sg-menu-item-505" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/our-team/">Our Team</a></li>
                        <li id="sg-menu-item-513" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/team/sam-kromstain/">Team member</a></li>
                        <li id="sg-menu-item-506" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/careers/">Careers</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-394" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Header styles</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-542" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=default&amp;header_search=0&amp;header_social_links=0">Header style 1</a></li>
                        <li id="sg-menu-item-543" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-2&amp;header_social_links=0">Header style 2</a></li>
                        <li id="sg-menu-item-544" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-3">Header style 3</a></li>
                        <li id="sg-menu-item-548" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-4">Header style 4</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-395" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Footer styles</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-545" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=default">Footer style 1</a></li>
                        <li id="sg-menu-item-546" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=centered">Footer style 2</a></li>
                        <li id="sg-menu-item-547" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=minimal">Footer style 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li id="sg-menu-item-390" class="super-guacamole__menu__child menu-item menu-item-has-children" hidden="hidden">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Elements</a><span class="sub-menu-toggle"></span>
                  <ul class="sub-menu">
                    <li id="sg-menu-item-397" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Dynamic elements</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-668" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/brands-partners-and-clients-module/">Brands, Partners and Clients module</a></li>
                        <li id="sg-menu-item-669" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/carousel-module/">Carousel module</a></li>
                        <li id="sg-menu-item-670" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/post-module/">Post module</a></li>
                        <li id="sg-menu-item-671" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/taxonomy-module/">Taxonomy Module</a></li>
                        <li id="sg-menu-item-672" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/team-module/">Team module</a></li>
                        <li id="sg-menu-item-673" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/testimonials-module/">Testimonials module</a></li>
                        <li id="sg-menu-item-482" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/timeline/">Timeline</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-396" class="super-guacamole__menu__child menu-item menu-item-has-children">
                      <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Static elements</a><span class="sub-menu-toggle"></span>
                      <ul class="sub-menu">
                        <li id="sg-menu-item-588" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/accordion/">Accordion</a></li>
                        <li id="sg-menu-item-589" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/animated-counter/">Animated counter</a></li>
                        <li id="sg-menu-item-590" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/audio/">Audio</a></li>
                        <li id="sg-menu-item-591" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/blurb/">Blurb</a></li>
                        <li id="sg-menu-item-592" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/buttons/">Buttons</a></li>
                        <li id="sg-menu-item-593" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/call-to-action/">Call to action</a></li>
                        <li id="sg-menu-item-594" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/circle-counter/">Circle Counter</a></li>
                        <li id="sg-menu-item-595" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/contact-form/">Contact form</a></li>
                        <li id="sg-menu-item-596" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/countdown-timer/">Countdown Timer</a></li>
                        <li id="sg-menu-item-597" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/images/">Images</a></li>
                        <li id="sg-menu-item-598" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/map/">Map</a></li>
                        <li id="sg-menu-item-599" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/number-counter/">Number Counter</a></li>
                        <li id="sg-menu-item-600" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/person/">Person</a></li>
                        <li id="sg-menu-item-601" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/pricing-table/">Pricing Table</a></li>
                        <li id="sg-menu-item-602" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/slider/">Slider</a></li>
                        <li id="sg-menu-item-603" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/social-sharing/">Social Sharing</a></li>
                        <li id="sg-menu-item-604" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/tabs/">Tabs</a></li>
                        <li id="sg-menu-item-605" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/text/">Text</a></li>
                        <li id="sg-menu-item-696" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/video-slider/">Video slider</a></li>
                        <li id="sg-menu-item-697" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/video/">Video</a></li>
                      </ul>
                    </li>
                    <li id="sg-menu-item-674" class="super-guacamole__menu__child menu-item"><a href="https://ld-wp.template-help.com/woocommerce_58679/typography/">Typography</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- #site-navigation -->
      </div>
    </div>
    <!-- End Menu -->

  </div>
</header>
